.Todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #FF6B6A;
  padding: 10px;
  font: 10px white;
}

.Todo-task {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:200px;
}

.Todo-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Todo-completed {
  text-decoration: line-through;
  font-style: italic;
}